<html>
    <body>
        <h2>Sample Form</h2>

        <form action='/submit' method='POST'>
            <label for='programming'>Programming:</label><br>
            <input type="text" id='programming' name='programming' value='0'><br>
            <label for='devops'>DevOps:</label><br>
            <input type="text" id='devops' name='devops' value='0'><br>
            <label for='statsml'>Statistics and ML:</label><br>
            <input type="text" id='statsml' name='statsml' value='0'><br>
            <input type="submit" value='Submit'>
        </form>
        <p>Sends data with the POST method</p>
    </body>
</html>